.container {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

#main {
    position: relative;
    width: 100%;
    height: 700px;
    border: 1px solid black;
}

#main img {
    width: 100%;
}

#range {
    position: absolute;
    width: 100%;
    top: 25%;
    height: 200px;
    z-index: 1;
    cursor: grabbing;
    opacity: 0;

}